

footer{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    color: white;
}

body{
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}

div.slides{
    width: 80%;
    margin: 5% 10% 5% 10%;
    left: 50%;
}
img.d-block{
    border-radius:20px;
}

img.profile{
    width: 250px;
    margin-top: 5%;
}

h1.name{
    color: #AFAAAA;
    text-align: center;
    margin-top: 2%;
}
h4.status{
    color: #AFAAAA;
    text-align: center;
    margin-bottom: 3%
}
.description{
    background-color: #AFAAAA;
    margin: 1% 0 0 0;
    border-radius: 10px;
    
}
.profile{
    border-radius: 30px;
}
.mainpart{
    margin: 5% auto 0 auto;
    align-items: center;
}

.load{
    margin: 0 0 0 49%;
}

.social{
    margin: 5% 0 10% 0;
    width: 70px;
    height: 70px;
}

.youtube{
    margin: 5% 0 10% 0;
    width: 100px;
    height: 70px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bg-trans {
    background-color:rgba(170, 170, 150, 0.7);
    border-radius: 20px;
}
